body {
  text-align: center;
}

span {
  display: inline-block;
  max-width: 150px; /* set width for the span themselves */
}

#pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* for "big fancy pic" */
#pic img{
  display: block;
  max-width: 100%;
  aspect-ratio: 0;
}

/* for pics in the inline spans */
#pics img {
  width: 150px; /* Set the width to 150 pixels */
  height: 150px; /* Set the height to 150 pixels */
}


/* this code makes a border around the inline spans that I don't want: 

#pics span {
  border: 1px solid black;
} */